snippet myrfc "create export function component without default"
export function `!p snip.rv = fn[0: fn.rfind('.')]`() {
	return <div className="$2">$3</div>;
}
endsnippet

snippet tc "create try catch block"
try {
	$1
} catch (error) {
	$2
}
endsnippet
