snippet myrfc "Create export function component without default"
export function `!p snip.rv = fn[0: fn.rfind('.')]`() {
	return <div className="$1">${2:${VISUAL:`!p snip.rv = fn[0: fn.rfind('.')]`}}</div>;
}
endsnippet

snippet tc "Create try catch block"
try {
	$1
} catch (error) {
	$2
}
endsnippet
