snippet rfc "Create a export function component without default" w
export function `!p snip.rv = fn[0: fn.rfind('.')]`() {
	return <div className="${1:`!p snip.rv = fn[0: fn.rfind('.')].lower()`}">${2:`!p snip.rv = fn[0: fn.rfind('.')]`}</div>;
}
endsnippet


snippet tc "Create try catch block"
try {
	$2
} catch (err) {
	$1
}
endsnippet

snippet __ "Self close tag" i
$1 />
endsnippet

snippet ___ "Self close tag" i
<$1 />
endsnippet

snippet cst "Create destructor const" b
const { $2 } = $1;
endsnippet
